main {
  display: flex;
  justify-content: center;
  background-image: url('/images/fondo-pag-speciali.jpg');

  .container {
    margin: $spacing * 3 0;
  }
}

.card-container-long,
.card-container-short,
.card-container-xshort {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: 32%;
  margin: $spacing / 2;

  img{
    width: 100%;
  }
}
